<div id="right-panel" class="right-panel">
	<app-header></app-header>
	<div ui-view class="container-fluid"></div>

	<footer class="page-footer grey darken-3 z-depth-2">
    <div class="container">
      <div class="row center-align">
        <div class="col l12 s12">
          <img ng-src="https://s3.amazonaws.com/advantage_assets/logo.png">
        </div>
      </div>
    </div>
    <div class="footer-copyright grey darken-4">
      <div class="container center-align">
      	© 2016 Advantage Integrated Solutions
      </div>
    </div>
  </footer>
</div>

<side-nav headings="headings"></side-nav>



