<div id="right-panel" class="right-panel">
	<app-header></app-header>
	<div ui-view class="container-fluid"></div>

	<footer class="page-footer grey darken-3 z-depth-2">
    <div class="content">
      <div class="row">
        <div class="col l4 offset-l1 s12">
          <h5 class="white-text">Contribute</h5>
          <p class="grey-text text-lighten-4">
            To contribute to this document, find the document in <a href="https://github.com/KitHensel/project-docs" target="_blank">project-docs</a> and make a commit.</p>
        </div>
        <div class="col l3 offset-l1 s12">
          <h5 class="white-text">Resources</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://github.com/orgs/AdvantageIntegratedSolutions/dashboard" target="_blank">Advantage GitHub</a></li>
            <li><a class="grey-text text-lighten-3" href="https://docs.angularjs.org/guide" target="_blank">Angular Docs</a></li>
            <li><a class="grey-text text-lighten-3" href="http://materializecss.com/" target="_blank">Materialize</a></li>
          </ul>
        </div>
        <div class="col l3">
          <img ng-src="https://s3.amazonaws.com/advantage_assets/logo.png">
        </div>
      </div>
    </div>

    <div class="footer-copyright grey darken-4">
      <div class="container center-align">
      	© 2016 Advantage Integrated Solutions
      </div>
    </div>

    <div id="scrollToTop" ng-hide="atTop" ng-click="scrollToTop()">
      <i class="material-icons">keyboard_arrow_up</a>
    </div>
  </footer>
</div>

<side-nav headings="headings"></side-nav>



