<div id="right-panel" class="right-panel">
	<app-header></app-header>
	<div ui-view class="container-fluid"></div>

	<footer class="page-footer grey darken-3 z-depth-2">
    <div class="container">
<!--       <div class="row center-align">
        <div class="col l12 s12">
          <img ng-src="https://s3.amazonaws.com/advantage_assets/logo.png">
        </div>
      </div>
 -->
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">The End.</h5>
          <p class="grey-text text-lighten-4">To contribute to this document, find the document in 'project-docs' and make a commit.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-copyright grey darken-4">
      <div class="container center-align">
      	© 2016 Advantage Integrated Solutions
      </div>
    </div>

    <div id="scrollToTop" ng-hide="atTop" ng-click="scrollToTop()">
      <i class="material-icons">keyboard_arrow_up</a>
    </div>
  </footer>
</div>

<side-nav headings="headings"></side-nav>



