<span class="spinner" ng-if="$ctrl.isLoading"></span>

<table class="table table-hover sortable-table" ng-if="!$ctrl.isLoading">
  <thead>
    <tr>
      <th
        class="sortable-table__th"
        ng-repeat="(fieldName, column) in $ctrl.columns"
        ng-click="$ctrl.sortTable(fieldName)">
        <span class="sortable-table__th-wrapper">
          {{ column }}
          <i class="sortable-table__th-icon" ng-class="$ctrl.getSortClass(fieldName)"></i>
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in $ctrl.rows | orderBy:$ctrl.sortOn:$ctrl.sortReverse" ng-click="$ctrl.onClickRow({id: row.id})">
      <td ng-repeat="value in row.data" class="sortable-table__td {{value.class}}">
        <div ng-if="value.type=='circle'">
          <progress-circle score="value.value"></progress-circle>
        </div>

        <div ng-if="value.type!='circle'">
          {{ value.value | limitTo:$ctrl.characterLimit }}{{ value.value.length > $ctrl.characterLimit ? "..." : "" }}
        </div>
      </td>
    </tr>
  </tbody>
</table>