@import 'styles/variables';

.container-fluid{
	padding: 10px;
	margin-top: 10px;
}

section{
	ul {
		margin-left: 30px;
		
		li {
  		list-style-type: disc;
  	}
	}
}

footer {
	img{
		height: 120px;
		width: auto;
	}

	.nav{
		margin: 0px 30px 0px 30px;
	}
}