@import 'styles/variables';

.container-fluid{
	padding: 10px;
	margin-top: 10px;
}

footer {
	img{
		height: 120px;
		width: auto;
	}

	.nav{
		margin: 0px 30px 0px 30px;
	}
}

.table{
	margin: 20px 0px 20px 0px;
	border: 1px solid $gray-lighter;
}

pre{
	margin: 0px;
}