@import '../styles/variables';

.side-nav{
	li{
		cursor: pointer;

		a{
			font-size: 14px;
		}

		&.secondary{
			display: none;
			padding-left: 20px;

			a{
				font-size: 12px;
			}
		}

		&.active{
			background-color: $brand-primary;

			a{
				color: white;
			}

			:hover{
				background-color: $brand-primary;
			}
		}

		:hover{
			background-color: $gray-light;
			color: white;
		}
	}

	header{
		text-align: center;
		margin-bottom: 4px;
		height: 150px;

		h5{
			font-weight: 300;
		}

		.title{
			padding: 20px;
			margin: 0px;
		}

		img{
			height: 50px;
			width: auto;
		}
	}
}