@import '../styles/variables';

.side-nav{
	.primary-icon{
		float: right;
		margin-top: 20px;
	}

	.secondary-icon{
		float: left;
		margin-top: 24px;
		margin-right: 2px;
	}

	li{
		cursor: pointer;

		a{
			font-size: 14px;
		}

		&.primary-nav{
			background-color: white;

			&.active{
				background-color: $brand-primary;

				a{
					color: white;
				}

				:hover{
					background-color: $brand-primary;
				}
			}
		}

		&.secondary-nav{
			background-color: $gray-lighter;

			a{
				font-size: 12px;
				font-weight: bold;
			}

			&.active{
				a{
					color: $brand-primary;
				}
			}
		}
	}

	.header{
		text-align: center;
		height: 180px;

		h5{
			font-weight: 300;
		}

		.title{
			padding: 20px;
			margin: 0px;
		}

		img{
			height: 80px;
			width: auto;
		}
	}
}