<ul id="slide-out" class="side-nav fixed">
	<header>
		<h5 class="title header">{{ $root.title | uppercase }}</h5>
		<img ng-src="https://s3.amazonaws.com/advantage_assets/logo.png">
	</header>

	<div id="side-nav-headings">
		<li 
			id="{{ nav.anchor }}-nav" 
			ng-repeat="nav in $ctrl.navs" 
			ng-class="[nav.status, nav.tier]"
			ng-click="$ctrl.updateActiveNavOnClick(nav.anchor)">
			<a href="#{{ nav.anchor | lowercase }}">
				<i 
					class="material-icons secondary-icon tiny" 
					ng-if="nav.tier=='secondary-nav'">
					remove
				</i>

				{{ nav.text | uppercase }}
		</li>
	</div>
</ul>