@import '../styles/variables';

#side-nav-header{
	position: fixed;
	top: 0px;
	left: 0px;
	text-align: left;
	height: 64px;
	width: 240px;

	h5{
		font-weight: 300;
	}

	.title{
		padding-top: 17px;
		padding-left: 15px;
		margin: 0px;
	}
}

#slide-out {
	padding-bottom: 174px;
	background-color: $gray-lightest;
}

.side-nav{
	top: 64px; //height of navbar

	.primary-icon{
		float: right;
		margin-top: 20px;
	}

	.secondary-icon{
		float: left;
		margin-top: 24px;
		margin-right: 2px;
	}

	li{
		cursor: pointer;

		a{
			font-size: 14px;
		}

		&.primary-nav{
			background-color: white;

			a{
				padding-left: 15px;
			}

			&.active{
				background-color: $brand-primary;

				a{
					color: white;
				}

				:hover{
					background-color: $brand-primary;
				}
			}
		}

		&.secondary-nav{
			background-color: $gray-lighter;

			a{
				font-size: 11px;
				font-weight: bold;
				padding-left: 15px;
			}

			&.active{
				a{
					color: $brand-primary;
				}
			}
		}
	}
}