.doc-header{
	margin-bottom: 10px;
	margin-top: 10px;
	color: black;
}

.doc-caption{
	font-size: 22px;
	font-weight: 300;
}

.doc-notice{
	margin: 10px 0px 10px 0px;
}

.doc-section{
	ul {
		margin-left: 30px;
		
		li {
  		list-style-type: disc;
  	}
	}
}