<div class="project-item">
	<a ui-sref="app.{{ $ctrl.name }}">
		<div 
			class="card z-depth-1 {{ $ctrl.color }}"
			ng-class="{'z-depth-4': hover}"
			ng-mouseenter="hover = true"
    	ng-mouseleave="hover = false"
		>
		  <div class="card-content white-text">
		    <span class="card-title">{{ $ctrl.name }}</span>
		    <p>{{ $ctrl.description }}</p>

		    <div class="valign-wrapper">
			    <div class="status center-align">
			    	<div class="valign-wrapper" ng-if="$ctrl.status!='current'">
			    		<i class="material-icons">error</i>
			    		&nbsp;{{ $ctrl.status }}
			    	</div>
			    	<div class="valign-wrapper" ng-if="$ctrl.status=='current'">
			    		<i class="material-icons">done</i>
			    		&nbsp;{{ $ctrl.status }}
			    	</div>
			    </div>
			  </div>
		  </div>
		</div>
	</a>
</div>