<doc-section>
	<doc-header id="home">Welcome</doc-header>

	<p>
		The <b>Project Documentation Library (project-docs)</b> is a platform to develop and organize documentation for common libraries, projects and tools.
	</p>

	<p><b>project-docs</b> provides a standard UI to improve ease-of-use and readability of documentation, reusable components to shorten the documentation process and a centralized library to drive documentation standards.</p>

	<p>Inspired by other awesome documentation UI's like 
		<a href="https://stripe.com/docs/api#intro" target="_blank">Stripe API</a>, 
		<a href="https://angular.io/docs/ts/latest/" target="_blank">AngularJS</a>, 
		<a href="http://underscorejs.org/" target="_blank">Underscore</a>.
	</p>

	<p>This is the project documentation library dashboard, click the <b><a href="/project-docs">project-docs</a></b> project to see how to document a new project.</p>
</doc-section>

<doc-section>
	<doc-header id="project-library">Project Library</doc-header>
	<doc-caption>Explore the project documentation library.</doc-caption>

	<div class="row">
		<div class="col s4 m4 l4 offset-m8 offset-l8">
			<input type="search" ng-model="search" placeholder="Search the library" class="left-align"></input>
		</div>
	</div>

	<div class="row">
		<div ng-repeat="project in $ctrl.projects | filter:search | filter: projectFilter" class="col s3 m3 l3">
			<project 
				name="{{ project.name }}" 
				description="{{ project.description }}" 
				color="{{ project.color }}"
				status="{{ project.status }}">
			</project>
		</div>
	</div>
</doc-section>

<doc-section>
	<doc-header id="process-library">Process Library</doc-header>
	<doc-caption>Common processes, workflows or misc items that need documentation</doc-caption>

	<div class="row">
		<div class="col s4 m4 l4 offset-m8 offset-l8">
			<input type="search" ng-model="processSearch" placeholder="Search the library" class="left-align"></input>
		</div>
	</div>

	<div class="row">
		<div ng-repeat="project in $ctrl.projects | filter: processFilter | filter:processSearch" class="col s3 m3 l3">
			<project 
				name="{{ project.name }}" 
				description="{{ project.description }}" 
				color="{{ project.color }}"
				status="{{ project.status }}">
			</project>
		</div>
	</div>
</doc-section>