<doc-section>
	<doc-header id="home">Welcome</doc-header>
	<doc-caption>
		<p><b>project-docs</b> is a platform to develop and store documentation for common libraries, projects and tools.
		</p>
	</doc-caption>

	<p><b>project-docs</b> provides a standard UI to improve ease of use and readability, reusable components to shorten the documentation process and help construct documentation standards.</p>

	<p>All documentation is written in common HTML & SASS, no new rules or markdown to learn.</p>

	<p>Functionality includes reusable components, responsive CSS framework, automatic side-navigation/routing and syntax highlighted code examples.</p>

	<p>Inspired by other more robust documentation UI's:</p>
	<ul>
		<li><a href="https://stripe.com/docs/api#intro" target="_blank">Stripe API</a></li>
		<li><a href="https://angular.io/docs/ts/latest/" target="_blank">AngularJS</a></li>
		<li><a href="http://underscorejs.org/" target="_blank">Underscore</a></li>
	</ul>

	All project documentation can be found at <a href="http://docs.advantagequickstart.com/" target="_blank">http://docs.advantagequickstart.com/</a>

	<br>

	This is just the dashboard, for the <b>project-docs</b> documentation and how to document a new project visit <a href="/project-docs">here</a>.
</doc-section>

<doc-section>
	<doc-header id="project-library">Project Library</doc-header>
	<doc-caption>Explore the project documentation library.</doc-caption>

	<div class="row">
		<div ng-repeat="project in $ctrl.projects" class="col s3 m3 l3">
			<project 
				name="{{ project.name }}" 
				description="{{ project.description }}" 
				color="{{ project.color }}">
			</project>
		</div>
	</div>
</doc-section>