<div class="header container-fluid">
  <div class="row header__row">
    <div class="col-sm-12">
      <p class="header__breadcrumbs">
        <a ui-sref="app.dashboard" class="header__img-wrapper">
          <img src="https://advantageintegratedsolutionsinc.quickbase.com/up/bgqcgqyfu/g/rbk/eh/va/IG%20CC%20Logo.PNG" alt="UXD Skills Assessment" style="width: 8rem;">
        </a>
        {{ $root.pageTitle }}
      </p>
    </div>
  </div>

  <div class="row header__row">
    <div class="col-sm-12">
      <a ui-sref="app.dashboard" ui-sref-active="active" class="header__link">Overview</a>
      <a ui-sref="app.employees" ui-sref-active="active" class="header__link">By Employee</a>
      <a ui-sref="app.skills" ui-sref-active="active" class="header__link">By Skill</a>
      <a ui-sref="app.download" ui-sref-active="active" class="header__link pull-right">Download CSV</a>
    </div>
  </div>
</div>